@-webkit-keyframes dropin {
  from  { margin-top: -800px; }
  90%   { margin-top: 10px; }
  to    { margin-top: 0; }
}
@-moz-keyframes dropin {
  from  { margin-top: -800px; }
  90%   { margin-top: 10px; }
  to    { margin-top: 0; }
}
@keyframes dropin {
  from  { margin-top: -800px; }
  90%   { margin-top: 10px; }
  to    { margin-top: 0; }
}

@-webkit-keyframes slidein {
  from  { margin-left: -800px; }
  to    { margin-left: 0; }
}
@-moz-keyframes slidein {
  from  { margin-left: -800px; }
  to    { margin-left: 0; }
}
@keyframes slidein {
  from  { margin-left: -800px; }
  to    { margin-left: 0; }
}

body {
  font-family: 'Droid Serif', Georgia, serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #333;
  background: #fbfbfb url(../images/texture-white.jpg) fixed;
}

section.posts {
  padding: 0;
  margin: 10px 20px;
}

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #333;
}

p a,
.archivelist a,
.home .content a,
ol a,
ul a,
h1 a,
h2 a
{
  border-bottom: 1px solid #03b4d1;
}

p a:hover,
.archivelist a:hover,
.archivelist a:visited,
.home .content a:hover,
ol a:hover,
ul a:hover,
h1 a:hover,
h2 a:hover
{
  border-bottom: 1px solid #dadada;
}

.posttitle a, .postitle a:hover, .sitetitle a, ul#pagenav li a, .pagination a {
  border: none !important;
}

.pagination a:hover {
  color: #999;
}

.image-author{
  border: 3px solid white;
  display: block;
  height: 84px;
  margin: 0 auto;
  width: 84px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#pagenav {
  list-style: none;
  padding-left: 0;
}

.sidebar {
  padding: 15px 0;
  background: #0297af url(../images/texture.jpg) fixed;
  color: #fff;
}

.js .sidebar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  max-height: 100%;
  overflow: auto;
}

.js body {
  margin-top: 50px;
}

.sidebar img {
  display: none;
}

.content {
  padding-top: 30px;
}

ul#pagenav {
  padding: 0 20px;
}

.js ul#pagenav {
  display: none;
  margin-top: 15px;
}

.menubutton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: rgba(255,255,255,0);
  padding: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 1000;
  -webkit-animation-name: dropin;
  -webkit-animation-duration: 1.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: dropin;
  -moz-animation-duration: 1.8s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
  animation-name: dropin;
  animation-duration: 1.8s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.menubutton span {
  width: 30px;
  height: 5px;
  margin: 4px;
  display: block;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

ul#pagenav li a {
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  background: url('../images/chevron.png') no-repeat right center;
  color: #fff;
}

ul#pagenav li a.active {
  background: none !important;
}

ul#pagenav li a.active:after {
  content: ' You\0027re here';
  float: right;
  color: #fff;
}

ul#pagenav li:last-child a {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

h1.sitetitle, h2.sitetitle {
  margin-left: 20px;
}

.description {
  display: none;
}

.sitetitle {
  font-size: 36px;
  font-family: 'ChunkFive', Helvetica, sans-serif;
  text-transform: lowercase;
  font-weight: 100;
  display: block;
  border: none;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
}

a.sitetitle {
  padding-top: 0 !important;
  line-height: 25px;
  top: -4px;
  position: relative;
}

.sitetitle:hover {
  color: #a6efe8;
}

h1.sitetitle a, h2.sitetitle a {
  padding-top: 10px;
  display: inline;
}

.description {
  color: #555;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

ul#pagenav, .sitetitle {
  margin: 0;
}

.content {
  padding-bottom: 10px;
}

::-moz-selection {
  background: #03b4d1;
  color: #fff;
}

::selection {
  background: #03b4d1;
  color: #fff;
}

.about{
  color: rgba(255, 255, 255, 0.7);
  text-transform: none;
  font-size: 12px;
  letter-spacing: 0;
}


ul.posts{
  list-style-type: none;
}

ul.posts li{
  line-height: 28px;
  font-size: 16px;
}

ul.posts span{
  font-family: 'Lucida Console', 'Andale Mono', monospace;
  color: #aaa;
  padding-right: 5px;
  font-size: 14px;
}

/* Mobile */

@media only screen and (max-width: 500px) {

  ul#pagenav li a {
    background: url('../img/chevron_2x.png') no-repeat right center;
    background-size: 16px 16px;
  }

  ul.posts{
    margin: 0;
    padding: 0;
    width: 100%;
  }

  ul.posts li{
    font-size: 13px;
  }

}

/* Tablets */

@media only screen and (min-width:600px) {

  body {
    font-size: 18px;
    line-height: 1.8em;
  }

  section.posts {
    padding: 0;
    width: 75%;
    margin: 10px auto;
  }

  .sidebar {
    text-align: center;
    padding: 30px 0;
    position: static !important;
  }

  body {
    padding: 0;
    margin-top: 0 !important;
  }

  a.sitetitle {
    position: static;
    padding-top: 10px !important;
  }

  .description {
    width: 230px;
    display: none;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 0 10px;
    margin: 0 auto !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  h1.sitetitle, h2.sitetitle, .description {
    margin-left: 0;
  }

  h1.sitetitle a, h2.sitetitle a {
    display: block;
  }

  .sidebar img {
    display: inline;
  }

  .js ul#pagenav {
    display: block;
  }

  ul#pagenav {
    font-size: 16px;
  }

  ul#pagenav li {
    margin: 0 8px;
    display: inline;
  }

  ul#pagenav li a {
    display: inline;
    padding: 0;
    border: none;
    background: none !important;
  }

  ul#pagenav li a:hover {
    color: #a6efe8;
  }

  ul#pagenav li a.active {
    color: #a6efe8;
  }

  ul#pagenav li a.active:after {
    content: '';
  }

  .menubutton {
    display: none;
  }

  a[title]:hover:before, abbr[title]:hover:before {
    content: attr(title);
    position: fixed;
    top: 10px;
    right: 10px;
    display: block;
    background: #000;
    background: rgba(0,0,0,0.8);
    color: #fff;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: normal;
    z-index: 1000;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

}

/* Standard Desktop */

@media only screen and (min-width:900px) {

  .sidebar {
    position: fixed !important;
    top: 0;
    padding-top: 70px;
    left: 0;
    width: 25% !important;
    height: 100%;
    box-shadow: inset -30px -10px 80px 0 rgba(0,0,0,.2), inset -10px -10px 20px 0 rgba(0,0,0,.15), 1px 0 0 0 white;
  }

  .description {
    display: block;
  }

  section.posts {
    width: 75%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 70px;
  }

  .content {
    margin: 0 auto;
    padding: 0 0 80px 0;
    width: 80%;
    max-width: 670px;
  }

  ul#pagenav li {
    margin: 0;
    display: block;
  }
}

/* Fucking Large screens */

@media only screen and (min-width:2000px) {

  .content {
    font-size: 22px;
    line-height: 1.7em;
    max-width: 800px;
  }

}

/* --- Font --- */

@font-face {
  font-family: 'ChunkFive';
  src: url('../font/Chunkfive.eot');
  src: local('ChunkFive Regular'), local('ChunkFive'), url('../font/Chunkfive.woff') format('woff'), url('../font/Chunkfive.svg#ChunkFive') format('svg'), url('../font/Chunkfive.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}