.projects-widget {
  background-color: #ffffff;
}
.projects-container {
  padding: 40px 0 40px 0;
}
.grid {
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
.grid li {
  display: inline-block;
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}
.grid figure {
  margin: 0;
  position: relative;
}
.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
}
.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  background: #2c3f52;
  color: #f9776c;
}
.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}
.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #f75246;
  color: #fff;
}
.grid-effect figcaption {
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
     -moz-transition:    -moz-transform 0.3s, opacity 0.3s;
          transition:         transform 0.3s, opacity 0.3s;
}
.grid-effect figure:hover figcaption{
  opacity: 1;
  -webkit-transform: translate(15px, 15px);
     -moz-transform: translate(15px, 15px);
      -ms-transform: translate(15px, 15px);
          transform: translate(15px, 15px);
}
.grid-effect figcaption h3 {
  margin-top: 30px;
}
.grid-effect figcaption span {
  display: block;
  text-align: left;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px
}
.grid-effect figcaption span p {
  margin: 0;
}
.grid-effect figcaption a {
  margin-top: 15px;
}
@media screen and (max-width: 1070px) {
  .grid li {
    padding: 20px 0 20px 0;
  }
}
@media screen and (max-width: 970px) {
  .grid li {
    padding: 20px 0 20px 0;
  }
}