<div class="wrapper container">
  <header class="homepage">
    <div class="greetings">
      <img src="/img/me.jpg" alt="A beautiful picture of me in a horse mask.">

      <div class="title">
        <h1>Hi there, my name is Ignacio Rivas.</h2>
        <h1>I'm a Javascript developer.</h2>
      </div>

      <div class="subtitle">
        <p>I live in the beautiful city of Buenos Aires and I ship code at <a href="http://www.globant.com/" target="_blank">Globant</a></p>
        <p>Take a look below to view some of my recent work!</p>
      </div>

      <a href="mailto:rivasign@gmail.com?subject=Hello Ignacio!" class="button button-glow button-fat">Contact me</a>
    </div>
  </header>

  <article class="projects-widget"></article>

  <section class="followme row-fluid">
    <div class="tweet-container offset3 span6">
      <span class="tweet-message">
      </span>

      <div class="tweet-button">
        <a href="https://twitter.com/sabarasaba" target="_blank" title="Follow me on twitter" class="button button-blue">Follow me on twitter</a>
      </div>
    </div>
  </section>

  <footer class="footer row-fluid">
    <div class="offset1 span2 social-icons">
      <ul class="unstyled inline">
        <li><a href="https://github.com/sabarasaba" target="_blank" title="My github account"><i class="icon-github-alt"></i></a></li>
        <li><a href="http://ar.linkedin.com/in/rivasignacio" target="_blank" title="My linkedin account"><i class="icon-linkedin"></i></a></li>
        <li><a href="https://twitter.com/sabarasaba" target="_blank" title="My twitter account"><i class=" icon-twitter"></i></a></li>
      </ul>
    </div>
    <div class="offset5 span3">
      <p>Copyright &copy; Ignacio Rivas 2013</p>
    </div>
  </footer>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32825709-1']);
  _gaq.push(['_setDomainName', 'ignaciorivas.me']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>